#won, #lost{
    display: none;
    padding-left: 200px;
}

#word, #letters, #won, #lost {
    padding: 20px 0px;
    padding-left: 200px;
    text-align: center;
}

h1,h2,h4
{
    text-align: center;
    padding-left: 400px;
}

#man {
    margin: 20px auto;
    width: 600px;
    height: 600px;
    border: solid;
    border-radius: 5px;
    border-width: 1px;
    padding-left: 200px;
}

#word {
    font-size: 1.8em;
}

.hint {
    font-size: 0.6em !important;
}

.btn {
    padding: 7px 7px !important;
    margin: 0px 2px;
}

